//
// Layout
//

.error-container {
  display: flex;
  flex-direction: row;
}

.error-row {
  display: flex;
  flex-direction: row;
}

.error-column {
  display: flex;
  flex-direction: column;
}

.error-space-between {
  justify-content: space-between;
}

.graph-box {
  width: 62%;
  padding: $space-xl $space-md;
}

.info-box {
  width: 38%;
  padding: $space-xl $space-md;
}

.graph-percentage {
  padding: 0 0 18px;
}

.image-box {
  padding: $space-sm;
}

.left-margin {
  padding: 0 0 0 64px;
}

.current-box {
  justify-content: flex-end;
}

//
// Text
//

.current-text {
  color: $blue;
  font-weight: bold;
  line-height: 14px;
}

.error-link {
  color: $orange;
}

.error-minus {
  color: #7eb26d;
  padding: 0 $space-sm;
  line-height: 21px;
}

.graph-percentage p {
  text-align: right;
  margin: 0;
  line-height: 14px;
}

.graph-text {
  margin: 0;
}

/* Custom Error page css */

.mainbox {
  background-color: #95c2de;
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

.err {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  position:absolute;
  left: 20%;
  top: 8%;
}

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #ffffff;
}

.err2 {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  position:absolute;
  left: 68%;
  top: 8%;
}

.msg {
  color:red;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  position:absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

/* End */
@include media-breakpoint-down(sm) {
  .graph-box {
    width: 50%;
  }

  .info-box {
    width: 50%;
  }
}

@include media-breakpoint-down(xs) {
  .error-container {
    flex-direction: column;
  }

  .graph-box {
    width: 100%;
  }

  .info-box {
    width: 100%;
  }

  .error-full-width {
    width: 100%;
  }
}
